<header>
    <h1>ねこったー</h1>
</header>
<div class="contents">
    <div class="message clearfix">
        <%= image_tag 'cat1.png' %>
        <div class="message_box">
        <p class="user_name">野良猫1号<span class="time">・8月13日</span></p>
            <p class="text">
                今日も暇だにゃー、とりあえずゴロゴロするかニャー
            </p>
        </div>
    </div>
    <div class="message clearfix">
        <%= image_tag 'cat1.png' %>
        <div class="message_box">
            <p class="user_name">たま<span class="time">・8月13日</span></p>
            <p class="text">
                果報は寝て待てニャー、急がばまわれにゃー
            </p>
        </div>
    </div>
    <div class="message clearfix">
        <%= image_tag 'cat1.png' %>
        <div class="message_box">
            <p class="user_name">たま<span class="time">・8月13日</span></p>
            <p class="text">
                果報は寝て待てニャー、急がばまわれにゃー
            </p>
        </div>
    </div>
        <div class="message clearfix">
        <%= image_tag 'cat1.png' %>
        <div class="message_box">
            <p class="user_name">たま<span class="time">・8月13日</span></p>
            <p class="text">
                果報は寝て待てニャー、急がばまわれにゃー
            </p>
        </div>
    </div>
        <div class="message clearfix">
        <%= image_tag 'cat1.png' %>
        <div class="message_box">
            <p class="user_name">たま<span class="time">・8月13日</span></p>
            <p class="text">
                果報は寝て待てニャー、急がばまわれにゃー
            </p>
        </div>
    </div>
        <div class="message clearfix">
        <%= image_tag 'cat1.png' %>
        <div class="message_box">
            <p class="user_name">たま<span class="time">・8月13日</span></p>
            <p class="text">
                果報は寝て待てニャー、急がばまわれにゃー
            </p>
        </div>
    </div>
</div>